* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* outline: 1px solid lightcoral; */
}

[src$='.svg'] {
    width: 20px;
    height: 20px;
}

[src$='.jpg'] {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

ul {
    list-style-type: none;
}

body {
    height: auto;

    display: grid;
    grid-template-columns: minmax(150px, 1fr) 4fr;
    grid-template-rows: 150px 4fr;
}

header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 1fr;
}

aside {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
}

main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: 3fr 1fr;
}

header .search {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
}

header .search div {
    height: 30px;
    width: 100%;
    border-radius: 14px;
    background-color: aquamarine;
}

header .profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
    align-items: center;
    justify-items: center;
}

header .user-info {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

header .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

main .projects {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

main .projects .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 150px;
}

main .side-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
