* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* outline: 1px solid lightcoral; */
}

:root {
    --color-white: #fff;
    --color-brown: #424242;
    --color-quick-silver: #A3A09D;
    --color-alice-blue: #e3e9f0;
    --color-blue-crayola: #1293D5;
    --color-orange-yellow: #F0B524;
}

[src$='.svg'] {
    width: 20px;
    height: 20px;
}

[src$='.jpg'], [src$='.jpeg'] {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

ul {
    list-style-type: none;
}

body {
    min-height: 100vh;
    height: auto;
    width: 100%;

    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4fr;
    grid-template-rows: 150px 4fr;
}

body > * {
    padding: 20px;
}

header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 1fr;
    row-gap: 10px;

    position: relative;
    box-shadow: 0px 0px 7px 2px var(--color-quick-silver);
}

aside {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    display: grid;
    grid-template-rows: 50px 1fr;

    background-color: var(--color-blue-crayola);
    color: var(--color-white);
    font-weight: bold;
}

main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;

    background-color: var(--color-alice-blue);
}

header .search {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    gap: 10px;
}

header .search div {
    height: 30px;
    width: min(500px, 100%);
    border-radius: 14px;
    background-color: var(--color-alice-blue);
}

header .profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
    align-items: center;
    justify-items: center;

    font-weight: bolder;
}

header .user-info {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;

    font-weight: bolder;
}

header .user-info p:first-child {
    font-size: smaller;
}

header .user-info p:last-child {
    font-size: larger;
}

header .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 8px;
}

header .buttons button {
    width: min(100%, 118px);
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: var(--color-blue-crayola);
    color: var(--color-white);
}

aside > :first-child {
    font-size: 20px;
}

aside .menus {
    display: grid;
    grid-auto-rows: max-content;
    gap: 50px;

    font-size: 15px;
}

aside .menus li {
    padding-bottom: 10px;
}

aside > :first-child, aside .menus li {
    display: grid;
    align-items: center;
    grid-template-columns: min-content auto;
    gap: 10px;
}

main .projects {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

main .projects p {
    margin-bottom: 10px;
}

main .projects p:first-child {
    font-weight: bold;
    font-size: 20px;
}

main .projects .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    gap: 20px;
}

main .project-card {
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 8px;
    border-left: 8px solid var(--color-orange-yellow);

    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

main .project-card > ul {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: end;
    gap: 15px;
}

main .project-card p + p {
    font-size: 15px;
    color: var(--color-brown);
    overflow: auto;
}

main .side-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
